.info_box {
	border: 3px solid black; 
	background-color: rgba(83, 147, 203,.5);
	margin: 20px;
	color: white;
	border-radius: 15px;

}

.top_logo {
	width: 150px;
	height: 150px;                                        
}

.top_photo {
	width: 150px;
	height: 150px;                                        
}


img#img3{
	border-radius: 40px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	width: 400px;
	height: 200px; 

}

.body {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/japanbackground.png);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.body2 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/japanbackground2.png);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.body3 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/japanbackground3.png);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.body4 {

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/japanbackground4.png);
	background-attachment: fixed;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}
/*
img#img2{
	object-fit: cover;
}
*/

.disc {
	display: block; 
}

.middle_info{
	margin:10px;
	font-size: 20px;
	overflow: ellipsis;
	

	
}

.info2{
	margin-left: 15px;
	margin-bottom: 30px;
}

.hikebox1{
	float:left;
	background-color: #569;
	background-image: url(../images/photos/hiking3.png);
	background-size: cover;
	width: 100%;
	height: auto; 
	border: 5px solid navy; 
	border-radius: 30px;
	margin: 3px;
}


.first_photo{
	float:left;
	background-color: #569;
	background-image: url(../images/photos/hiking1.png);
	background-size: cover;
	width: 400px;
	height: 225px; 
	border: 0.1px solid white; 
	border-radius: 30px;
	margin: 10px;
}

.second_photo{
	float:right;
	background-color: #569;
	background-image: url(../images/photos/japan2.png);
	background-size: cover;
	width: 400px;
	height: 225px; 
	border: 0.1px solid white; 
	border-radius: 30px;
	margin: 10px;
}

.hikebox1-1{
	float:left;
	background-color: #569;
	background-image: url(../images/photos/japan3.png);
	background-size: cover;
	width: 100%;
	height: auto; 
	border: 5px solid lightgrey; 
	border-radius: 30px;
	margin: 3px;
}


.hikebox2{
	overflow: auto;
	float:left;
	background-color: rgba(83, 147, 203,.5);
    width: 100%;
   	height: auto;
   	margin: 3px;
    border: 5px solid navy;
    border-radius: 30px;
}


.hikebox2-2{
	overflow: hidden;
	float:left;
	background-color: rgba(255, 255, 255,.5);
    width: 100%;
   	height: auto;
   	margin: 3px;
    border: 5px solid lightgrey;
    border-radius: 30px;
}


.hikebox3{
	float:left;
	background-image: url(../images/photos/hiking2.png);
	background-size: cover;
	background-color: #345;
 	width: 100%;
 	height: auto;
    border: 5px solid navy;
    border-radius: 30px;
    margin: 3px;
} 

.hikebox3-3{
	float:left;
	background-image: url(../images/photos/japan4.png);
	background-size: cover;
	background-color: #345;
 	width: 100%;
 	height: auto;
    border: 5px solid lightgrey;
    border-radius: 30px;
    margin: 3px;
}


.mainHike {
	display: flex;
	float:center;
	width: 100%;
	height: 500px; 
} 

.contactlogo{
	width: 50px;
	height: 50px;
}

.comments{
	display: flex; 
	border:1px solid;
	border-radius: 10px;
	background-color:rgba(73, 73, 73, .5);
	width:40%;
	height: 300px;

}


.extrainfo{
	margin-top: 5px;
	padding-right: 20px;
}

.cform{
	margin-top: 20px;
	float: right;
	width:850px;
	height:200px;
}



.namebox{
	float: left;
	width: 40%;
	height:30px;
	border-radius: 10px;
}

.emailbox{
	float: left;
	width: 40%;
	height:30px;
	border-radius: 10px;
}

.commentbox{
	float: left;
	width: 90%;
	height: 200px;
	border-radius: 10px;
}


.link1{
	margin: 20px;
	color: white;
}

.link2{
	margin: 20px;
	color: white;
}

.link3 {
	margin: 20px;
	color: white;
}

.link4 {
	margin: 20px;
	color: white;
}

.link1:hover {
    color: lightblue;
    transition: 0.2s;
}

.link2:hover {
    color: lightblue;
    transition: 0.2s;
}

.link3:hover {
    color: lightblue;
    transition: 0.2s;
}

.link4:hover {
    color: lightblue;
    transition: 0.2s;
}

.first_photo:hover{

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/hiking1.png);
	transition:0.2s;

}


.second_photo:hover{

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(../images/photos/japan2.png);
	transition:0.2s;

}
